<div class="bg-white rounded-lg shadow-md overflow-hidden mx-40 my-2 relative cursor-pointer" (click)="seeItemDetail()">
    <div class="flex">
        <img src="{{thumbnail}}" alt="Thumbnail" width="160px" height="160px">
        <p class="text-right text-gray-400 text-sm absolute top-2 right-2">{{location}}</p>
        <div class="p-4 w-2/3">
            <h5 class="text-lg font-bold">${{price}}</h5>
            <p class="text-gray-700 mt-2">{{description}}</p>
        </div>
    </div>
</div>
